*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*logo-menu*/

.nombre{
    width: 100%;
    height: 80px;
    margin: auto;
}

.imagen > img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/*MENU*/

.nombre > div{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    top:100%;
    background-color: rgb(33,37,41);
}

.navegacion{
    display: none;
    flex-direction: column;
    margin-left: -100%;
    transition: all 1s;
    z-index: 1030;
}

.navegacion > a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 50px;
    cursor: pointer;
    
}

.navegacion > a:hover,
.navegacion > a.active{
    /*background: linear-gradient(to right, #ffffff,#dbb596 );*/
    color: #dbb596;
    font-weight: 500;
}

.parrafo{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-top: 1px solid #fff;
    background: linear-gradient(to right, #dbb596, #ffffff);
    box-shadow: -22px -2px 30px 10px ;
}

.mostrar{
    display: flex;
    margin-left: 0;
    transition: all 1s;
    border-top: 1px solid rgba(255, 255, 255, 0.747);
    z-index: 1030;
}

/*HEADER*/
header{
    height: 80vh;
    background-image: linear-gradient( #dbb596a4, rgba(5,7,12,0.75)), 
    url(./img/fondo2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}


.boton{
    background-color: #dbb596 !important;
}

.bienvenida > h1{
    color: rgb(33,37,41);
    font-weight: 900;
}

.bienvenida > h2{
    color: #dbb596;
    font-weight: 600;
    padding-bottom: 10px;
}

/*WAVE*/

.waves {
    width: 100%;
    height:15vh;
    position:absolute;
    bottom: 0;
    left: 0;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}
  
  /* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}
  /*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
} 

@media(min-width:499px){
    header{background-size: 100% 100%;}
}

/*QUIENES SOMOS*/
section{
    height: 50vh;
    margin-top: 100px;
    background-image: linear-gradient( rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url(./img/seccion.png);
}

section > a{
    text-decoration: none;
    color:rgb(33,37,41);
    font-weight: 900;
}

section a > h1{
    font-weight: 900;
}

